DATABASE_URL=

DATABASE_RESET_SCHEMA_TOKEN=

GDRIVE_OAUTH_CLIENT_ID=
GDRIVE_OAUTH_CLIENT_SECRET=
GDRIVE_OAUTH_REFRESH_TOKEN=

HASIL_KLASIFIKASI=
INFERTIL_HARI_KE_1=
INFERTIL_HARI_KE_2=
FERTIL_HARI_KE_3=
INFERTIL_HARI_KE_3=
FERTIL_HARI_KE_4=
INFERTIL_HARI_KE_4=
FERTIL_HARI_KE_5=
INFERTIL_HARI_KE_5=
MATI_HARI_KE_5=
FERTIL_HARI_KE_6=
INFERTIL_HARI_KE_6=
MATI_HARI_KE_6=
INFERTIL_HARI_KE_7=
MATI_HARI_KE_7=
INFERTIL_HARI_KE_8=
MATI_HARI_KE_8=
INFERTIL_HARI_KE_9=
MATI_HARI_KE_9=
INFERTIL_HARI_KE_10=
MATI_HARI_KE_10=